{% extends 'Vault14Bundle:Default:base.html.twig' %}

{% block body %}
    <h1 class="centered big">Hello files!</h1>
    <p class="centered big">
        Vault14
        is a simple web-based file storage. 
        Upload anything and share it with people.
    </p>
    <p class="centered big">
        <a class="pure-button pure-button-primary" 
           href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">
            Log in with Google
        </a>
    </p>
{% endblock %}