{% extends 'Vault14Bundle:Default:base.html.twig' %}

{% block body %}
    <p class="big">
        <a class="ninja" href="{{ path('vault14_homepage') }}">
            Vault14
        </a>
    </p>
    <!-- Responsive grid http://purecss.io/grids/ -->
    <div class="pure-g-r vault">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-4-24">
            <button id="fileDrop">Select file</button>
            {{ form(uploadform) }}
        </div>
        <script>
            $(document).ready(function(){
                $('#fileDrop').click(function(e){
                    $('#form_file').click();
                });
                $('#form_upload').addClass('button-secondary pure-button');
            });
        </script>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-17-24">
            <table class="pure-table pure-table-horizontal striped doclist">
                {% for folder in folders %}
                    <tr>
                        <td>folder</td>
                        <td> {{ folder.name }} </td>
                        
                    </tr>
                {% endfor %}
                {% for document in documents %}
                    <tr>
                        <td>doc</td>
                        <td> {{ document.name }} </td>
                        
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pure-u-1-24"></div>
    </div>
{% endblock %}