{% extends 'Vault14Bundle:Default:base.html.twig' %}

{% block body %}
    <p class="big">Vault14</p>
    <!-- Responsive grid http://purecss.io/grids/ -->
    <div class="pure-g-r vault">
        <div class="pure-u-1-5">
            <button id="fileDrop">Upload file</button>
            {{ form(uploadform) }}
        </div>
        <script>
            $(document).ready(function{
                $('#fileDrop').click(function(e){
                    $('#form_file').click();
                });
            });
        </script>
        <div class="pure-u-4-5">
            <table class="pure-table pure-table-horizontal striped">
                {% for folder in folders %}
                    <tr>
                        <td>folder</td>
                        <td> {{ folder.name }} </td>
                        
                    </tr>
                {% endfor %}
                {% for document in documents %}
                    <tr>
                        <td>doc</td>
                        <td> {{ document.name }} </td>
                        
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}