/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=cyrillic-ext,latin,cyrillic);

/*
 * http://purecss.io/
 */
@import url(http://yui.yahooapis.com/pure/0.4.2/pure-min.css);

/*
  FLUIDITY v0.1.0
  @mrmrs - http://mrmrs.cc
  MIT
*/
@import "responsive-utilities";

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300; // other options: 300 italic, 700
    font-size: 1.5em;
    
    #container {
        min-width: 640px;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        
        h1 {
            font-size: 2.4em;
        }
        

    }
    
}
.centered {
    text-align: center;
}
.big {
    margin: 2em;
}
h1.big {
    margin: 1.5em;
}